body {
    background-color :black;
    text-align: center;
  }
  p{
   display: block;
   font-size: 3em;
   color :cyan;
   text-align: center;
   font-weight: 300;

  }
  button{
    align-items: baseline;
    background-color: darksalmon;
    color: blueviolet;
    font-size :100px;
    padding-top: 0%;
    margin-top: 100px;
    margin-left:60px 
  }
  .button1{
    align-items: baseline;
    background-color: darksalmon;
    color: blueviolet;
    font-size :217px;
    padding-top: 0%;
    margin-top: 100px;
    margin-left:60px 
  }
  img{
    width: 500px;
    height:500px;
    border-top: 50px;
    border-bottom:50px;
    border-left: 50px;
    border-right: 50px;
    border-color: gold;

  }